@import url(font-family: 'Arvo', serif;
font-family: 'Prompt', sans-serif;);
*{
  
  
  

}

.banniere {
  background-color: black;
  padding: 10px;
  
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  z-index: 9999;
  transition: top 0.3s ease-in-out;
  color: white;
  
}


.banniere li {
    display: inline-block;
    margin: 0 10px;
  }


.banniere ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  
}

.banniere ul li {
  margin: 0 10px;
  display: inline-block;
  margin-right: 100px;
}

.banniere ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;

}
.banniere img {
  width: 80%;
  height: 70px;
  margin: 15px 20px 8px 50px;
  ;
}
.text-center {
  text-align: center;

}
.footer_black{
  height: 200px;
  width: 100%;
  background-color: black;

}
.footer_black ul{
  display: block;
  text-decoration: none;
  color: white;
  padding: 2px 4px 15px;
  font-size: 14px;
  font-family: "Prompt", "sans-serif";
  font-weight: bold;
  display: block;
  padding: 2% 1.5% 0% 16.8%;
  float: left;

}
.footer_black ul li{
  display: block;
  text-decoration: none;
  color:white;
  font-family: "Prompt", "Sans-serif";
  font-size: 12px;
  padding: 4px 27px 3px 5px;
}

.footer_black ul .titre_footer_black{
    display: block;
    text-decoration: none;
    color: white;
    padding: 2px 4px 15px;
    font-size: 14px;
    font-family: "Prompt", "sans-serif";
    font-weight: bold;
}
.footer_black_bas{
  margin-bottom: 0;
  height: 130px;
  width: 100%;
  background-color: black;
}
.footer_black_bas ul{
    display: block;
    padding: 1.2% 1.5% 0 16.8%;
    float: left;
  
}
.footer_black_bas ul li{
  display: block;
  text-decoration: none;
  color:white;
  padding: 0px 27px 3px 5px;
  font-family: "Prompt", "Sans-serif";
  font-size: 12px;
 
}
.footer_black_bas ul .titre_footer_black_bas{
  display: block;
  text-decoration: none;
  color: white;
  padding: 2px 4px 15px;
  font-size: 14px;
  font-family: "Prompt", "sans-serif";
  font-weight: bold;
  margin-left: -8px;
}
.logo_petit{
  height: 20px;
  width: 30px;
  margin-right: 7px;
  margin-bottom: -4px;
}
.mail {
  height: 20px;
  width: 20px;
  margin-right: 7px;
  margin-bottom: -5px;
}
main {
  background-color: black;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1{
    color: white;
    font-size: 35px;
    font-family: "Prompt", sans-serif;
    
}
h2{
  color: white;
  font-size: 35px;
  font-family: "Prompt", sans-serif;
}
h3{
  color: white;
  font-size: 35px;
  font-family: "Prompt", sans-serif;
}
p{
    color: white;
    font-size: 20px;
    font-family: "Prompt", sans-serif;
}
#pizza{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.1rem;
    width:95%;
    height: 300px;
    flex:1;
    color:white;
    margin-top: 40px;
    margin-right: 10px;
    line-height: 1.3; 
}
#pizza h4 {
  color:white;
}
#pizza span {
  color:black;
  font-size: 1.2rem;
  padding: 1%;
}
ul > div {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
main {
  width:80%;
  margin-left: 150px;
  margin-right: 150px;
}
#solo {
  display: grid;
     grid-template-columns: 1fr 1fr ;
     grid-gap: 20px;
     margin-bottom: 10px;
 }